
:host
  display: grid
  grid-template-columns: auto 1fr
  height: 100vh

main
  display: flex
  flex-direction: column
  padding: 16px
  padding-inline-start: 0

  .content
    background: var(--background-accent)
    border-radius: var(--radius)
    flex: 1
    padding: 32px
