<header>
  <svg-icon [style.color]="group.color" name="package"></svg-icon>
  <strong>{{ group.name }}</strong>

  <button (click)="deleteGroup()" title="Delete" class="danger">
    <svg-icon name="trash"></svg-icon>
  </button>
</header>

<main>
  <activity-item
    *ngFor="let activity of group.activities"
    [activity]="activity"
  ></activity-item>

  <message-box
    *ngIf="!group.activities.length"
    icon="plus"
    message="Add Activity Dude!"
  ></message-box>
</main>

<footer>
  <input
    [(ngModel)]="activityName"
    (keyup.enter)="addActivity()"
    type="text"
    placeholder="New Activity"
  />
</footer>
